.glassmorphic-bg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(7, 99, 229, 0.5);
  border: 4px solid rgba(240, 240, 240, 0.5);
  padding: 20px;
  margin: 170px auto 0;
  max-width: 1500px;
  width: 90%;
}

.glassmorphic-form {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
}

.address-bg {
  background-image: url('../images/bg_3.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  border-radius: 15px;
  min-height: 350px;
}

.address-content {
  background: rgba(255, 255, 255, 0.79);
  backdrop-filter: blur(2.5px);
  border-radius: 15px;
  padding: 20px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .glassmorphic-bg {
    margin-top: 150px;
    width: 95%;
    padding: 15px;
  }

  .address-bg {
    min-height: 250px;
    margin-bottom: 0px;
  }

  .address-content {
    position: relative;
    height: auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}