.glassmorphic-bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
  }
  
  .tw-max-w-screen-lg {
    max-width: 1024px;
  }
  
  .tw-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .p-4 {
    padding: 1.5rem;
  }
  